@using MDMProject.Models
@using MDMProject.Resources
@model MDMProject.ViewModels.UserDetailsViewModel

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.UserType)
    </dt>

    <dd>
        @if (Model.UserType == UserTypeEnum.Company)
        {
            @PropertyNames.User_UserType_Company
        }
        else
        {
            @PropertyNames.User_UserType_IndividualPerson
        }
    </dd>

    @if (Model.UserType == UserTypeEnum.Company)
    {
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPersonName)
        </dd>
    }
    else
    {
        <dt>
            @Html.DisplayNameFor(model => model.IndividualName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndividualName)
        </dd>
    }
    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @(Model.Email ?? ViewResources.Common_NotAvailable)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>

    <dd>
        @(Model.PhoneNumber ?? ViewResources.Common_NotAvailable)
    </dd>

    @if (Model.IsCollectionPoint)
    {
        if (!Model.ProfileFinishedDate.HasValue || string.IsNullOrWhiteSpace(Model.OtherCoordinatorDetails))
        {
            <dt>
                @Html.DisplayNameFor(model => model.CoordinatorName)
            </dt>

            <dd>
                @(Model.CoordinatorName ?? ViewResources.Common_NotAvailable)
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.OtherCoordinatorDetails)
            </dt>

            <dd>
                @(Model.OtherCoordinatorDetails ?? ViewResources.Common_NotAvailable)
            </dd>
        }

        if (!Model.ProfileFinishedDate.HasValue)
        {
            <dt>
                @ViewResources.Admin_UsersList__Address
            </dt>

            <dd>
                @ViewResources.Common_NotAvailable
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.StreetName)
            </dt>

            <dd>
                @(Model.StreetName ?? ViewResources.Common_NotAvailable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HouseNumber)
            </dt>

            <dd>
                @(Model.HouseNumber ?? ViewResources.Common_NotAvailable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FlatNumber)
            </dt>

            <dd>
                @(Model.FlatNumber ?? ViewResources.Common_NotAvailable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>

            <dd>
                @(Model.PostalCode ?? ViewResources.Common_NotAvailable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @(Model.City ?? ViewResources.Common_NotAvailable)
            </dd>
        }
    }

    @if (Model.IsCoordinator)
    {
        <dt>
            @Html.DisplayNameFor(model => model.CoordinatedRegion)
        </dt>

        <dd>
            @(Model.CoordinatedRegion ?? ViewResources.Common_NotAvailable)
        </dd>
    }

    <dt>
        @Html.DisplayNameFor(model => model.AdditionalComment)
    </dt>

    <dd>
        @if (!string.IsNullOrWhiteSpace(Model.AdditionalComment))
        {
            @Html.Raw(Model.AdditionalComment.Replace("\n", "<br>"))
        }
        else
        {
            @ViewResources.Common_NotAvailable
        }
    </dd>

    <dt>
        @ViewResources.UserManagement_Details__UserRoles
    </dt>

    <dd>
        @if (Model.IsCollectionPoint)
        {
            <span class="badge badge-success">@ViewResources.UserRoles__CollectionPoint</span>
        }
        @if (Model.IsCoordinator)
        {
            <span class="badge badge-info">@ViewResources.UserRoles__Coordinator</span>
        }
        @if (Model.IsAdmin)
        {
            <span class="badge badge-primary">@ViewResources.UserRoles__Admin</span>
        }
    </dd>
</dl>