@using MDMProject.Resources
@using MDMProject.ViewModels;
@model UserDetailsViewModel

<h3>@ViewResources.UserManagement_AddAsCoordinator__Title</h3>
<div>
    @using (Html.BeginForm("SaveAddAsCoordinator", "UserManagement"))
    {
        <label for="CoordinatedRegion"><strong>@ViewResources.UserManagement_AddAsCoordinator__CoordinatedRegion</strong></label>
        <br />
        <input id="CoordinatedRegion" name="CoordinatedRegion" type="text" value="" placeholder="@ViewResources.UserManagement_AddAsCoordinator__CoordinatedRegionPlaceholder" class="form-control" />
        <br /><br />

        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => Model.Id)
    }

    @Html.Partial("_DetailsPartial", Model)
</div>