@using MDMProject.Resources
@using MDMProject.ViewModels;

@model UserListViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>@ViewResources.Common__Details</h5>
            </div>
            <div class="card-block">
                @UserDetails()
            </div>
        </div>
    </div>
</div>

@helper UserDetails()
{
    @Html.Partial("_DetailsPartial", Model)
    <p>
        <a href="@(ViewBag.ReturnUrl ?? Url.Action("Index", "Admin"))" class="btn btn-primary">@ViewResources.Admin_UsersList__BackToList</a>
    </p>
}