@using MDMProject.Models;
@using MDMProject.Resources
@using MDMProject.ViewModels;

@model IEnumerable<AdminListViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>@ViewBag.ListTitle</h5>
            </div>
            <div class="card-block">
                @UsersTable()
            </div>
        </div>
    </div>
</div>

@helper UsersTable()
{
    if (TempData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">
            <strong>@ViewResources.Admin_UsersList__Success</strong>
            <p>@TempData["Message"]</p>
        </div>
    }

    <a href="@Url.Action("CreateAdmin", "UserManagement")" type="button" class="add-user-btn btn btn-primary">@ViewResources.Common__Add</a>
    <div class="table-responsive">
        <table class="admins-table table table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>@ViewResources.Admin_UsersList__UserData</th>
                    <th>@ViewResources.Admin_UsersList__ContactData</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="@(item.UserType == UserTypeEnum.Company ? "text-info" : "text-secondary")">
                                @if (item.UserType == UserTypeEnum.Company)
                                {
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                    if (!string.IsNullOrWhiteSpace(item.ContactPersonName))
                                    {
                                        <br />
                                        @Html.DisplayFor(modelItem => item.ContactPersonName)
                                    }
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.IndividualName)
                                }
                            </td>
                            <td>
                                <i class="icon icon-email"></i>
                                @Html.DisplayFor(modelItem => item.Email)
                                <br />
                                <i class="icon icon-phone"></i>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "UserManagement", new { id = item.Id })"
                                   class="btn btn-sm btn-outline-success">
                                    @ViewResources.Common__Details
                                </a>
                                <a href="@Url.Action("EditAdmin", "UserManagement", new { id = item.Id })"
                                   class="btn btn-sm btn-outline-primary">
                                    @ViewResources.Common__Edit
                                </a>
                                <a href="#"
                                   class="btn btn-sm btn-outline-danger"
                                   data-toggle="modal"
                                   data-target="#modal"
                                   data-title="@ViewResources.Admin_UsersList__DeleteUser"
                                   data-form-url="@Url.Action("Delete", "UserManagement", new { id = item.Id })"
                                   data-button-title="@ViewResources.Common__Delete">
                                    @ViewResources.Common__Delete
                                </a>
                                <br />
                                <a href="#"
                                   class="btn btn-sm btn-outline-secondary"
                                   data-toggle="modal"
                                   data-target="#modal"
                                   data-title="@ViewResources.Admin_UsersList__DeleteAdmin"
                                   data-form-url="@Url.Action("RemoveAsAdmin", "UserManagement", new { id = item.Id })"
                                   data-button-title="@ViewResources.Admin_UsersList__DeleteAdmin">
                                    @ViewResources.Admin_UsersList__NotAdmin
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center">
                            <strong>@ViewResources.Admin_UsersList__NoData</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@Html.Partial("Modals/_Modal")