@using MDMProject.Models;
@using MDMProject.Resources
@using MDMProject.ViewModels;

@model IEnumerable<UserListViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>@ViewBag.ListTitle</h5>
            </div>
            <div class="card-block">
                @UsersTable()
            </div>
        </div>
    </div>
</div>

@helper UsersTable()
{
    if (TempData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">
            <strong>@ViewResources.Admin_UsersList__Success</strong>
            <p>@TempData["Message"]</p>
        </div>
    }

    <div class="table-responsive">
        <table class="users-table table table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>@ViewResources.Admin_UsersList__UserData</th>
                    <th>@ViewResources.Admin_UsersList__UserData</th>
                    <th>@ViewResources.Admin_UsersList__Coordinator</th>
                    <th>@ViewResources.Admin_UsersList__Address</th>
                    <th>@ViewResources.Admin_UsersList__AdditionalInfo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="@(item.UserType == UserTypeEnum.Company ? "text-info" : "text-secondary")">
                                @if (item.UserType == UserTypeEnum.Company)
                                {
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                    if (!string.IsNullOrWhiteSpace(item.ContactPersonName))
                                    {
                                        <br />
                                        @Html.DisplayFor(modelItem => item.ContactPersonName)
                                    }
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.IndividualName)
                                }
                            </td>
                            <td>
                                <i class="icon icon-email"></i>
                                @Html.DisplayFor(modelItem => item.Email)
                                <br />
                                <i class="icon icon-phone"></i>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(item.CoordinatorName))
                                {
                                    @Html.DisplayFor(modelItem => item.CoordinatorName)
                                }
                                else
                                {
                                    <strong>@ViewResources.Admin_UsersList__OtherCoordinator</strong><br />
                                    @Html.Raw(item.OtherCoordinatorDetails?.Replace("\n", "<br>"))
                                }
                            </td>
                            <td>
                                @DisplayAddress(item)
                            </td>
                            <td>
                                @Html.Raw(item.AdditionalComment?.Replace("\n", "<br>"))
                            </td>
                            <td>
                                @if (item.ProfileFinishedDate == null)
                                {
                                    <span class="profile-status badge badge-warning" title="@ViewResources.Admin_UsersList__Status_UnfinishedDesc">
                                        @ViewResources.Admin_UsersList__Status_UnfinishedShort
                                    </span>
                                }
                                else if (item.ApprovedBy == null)
                                {
                                    <span class="profile-status badge badge-danger" title="@ViewResources.Admin_UsersList__Status_UnverifiedDesc">
                                        @ViewResources.Admin_UsersList__Status_UnverifiedShort
                                    </span>
                                }
                                else
                                {
                                    <span class="profile-status badge badge-success" title="@string.Format(ViewResources.Admin_UsersList__Status_ApprovedDesc, item.ApprovedBy)">
                                        @ViewResources.Admin_UsersList__Status_ApprovedShort
                                    </span>
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "UserManagement", new { id = item.Id })"
                                   class="btn btn-sm btn-outline-success">
                                    @ViewResources.Common__Details
                                </a>
                                @*<a href="@Url.Action("Edit", "UserManagement", new { id = item.Id })"
                                       class="btn btn-sm btn-outline-primary">
                                        @ViewResources.Common__Edit
                                    </a>*@
                                <a href="#"
                                   class="btn btn-sm btn-outline-danger"
                                   data-toggle="modal"
                                   data-target="#modal"
                                   data-title="@ViewResources.Admin_UsersList__DeleteUser"
                                   data-form-url="@Url.Action("Delete", "UserManagement", new { id = item.Id })"
                                   data-button-title="@ViewResources.Common__Delete">
                                    @ViewResources.Common__Delete
                                </a>

                                @if (item.ApprovedBy == null)
                                {
                                    if (
                                        (item.CoordinatorId != null && item.CoordinatorId == ViewBag.CurrentUser.Id) ||
                                        (User.IsInRole(Constants.ADMIN_ROLE_NAME))
                                        )
                                    {
                                        <a href="#"
                                           class="btn btn-sm btn-outline-warning"
                                           data-toggle="modal"
                                           data-target="#modal"
                                           data-title="@ViewResources.Admin_UsersList__VerifyUser"
                                           data-form-url="@Url.Action("Approve", "UserManagement", new { id = item.Id })"
                                           data-button-title="@ViewResources.Admin_UsersList__Verify">
                                            @ViewResources.Admin_UsersList__Verify
                                        </a>
                                    }
                                }
                                @if (User.IsInRole(Constants.ADMIN_ROLE_NAME))
                                {
                                    <br/>
                                    if (!item.IsCoordinator)
                                    {
                                        <a href="#"
                                           class="btn btn-sm btn-outline-info"
                                           data-toggle="modal"
                                           data-target="#modal"
                                           data-title="@ViewResources.Admin_UsersList__AddCoordinator"
                                           data-form-url="@Url.Action("AddAsCoordinator", "UserManagement", new { id = item.Id })"
                                           data-button-title="@ViewResources.Admin_UsersList__AddCoordinator">
                                            @ViewResources.Admin_UsersList__Coordinator
                                        </a>
                                    }
                                    if (!item.IsAdmin)
                                    {
                                        <a href="#"
                                           class="btn btn-sm btn-outline-secondary"
                                           data-toggle="modal"
                                           data-target="#modal"
                                           data-title="@ViewResources.Admin_UsersList__AddAdmin"
                                           data-form-url="@Url.Action("AddAsAdmin", "UserManagement", new { id = item.Id })"
                                           data-button-title="@ViewResources.Admin_UsersList__AddAdmin">
                                            @ViewResources.Admin_UsersList__Admin
                                        </a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="text-center">
                            <strong>@ViewResources.Admin_UsersList__NoData</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@helper DisplayAddress(UserListViewModel item)
{
    var streetPart = $"{item.StreetName} {item.HouseNumber}";
    if (item.FlatNumber != null)
    {
        streetPart += $"/{item.FlatNumber}";
    }
    if (!string.IsNullOrWhiteSpace(streetPart))
    {
        @streetPart
        <br />
    }

    var cityPart = item.PostalCode != null ? $"{item.PostalCode} {item.City}" : item.City;
    @cityPart
}

@Html.Partial("Modals/_Modal")