@using MDMProject.Models;
@using MDMProject.Resources
@using MDMProject.ViewModels;

@model IEnumerable<UserListViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>@ViewBag.ListTitle</h5>
            </div>
            <div class="card-block">
                @UsersTable()
            </div>
        </div>
    </div>
</div>

@helper UsersTable()
{
    if (TempData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">
            <strong>@ViewResources.UsersList__Success</strong>
            <p>@TempData["Message"]</p>
        </div>
    }

    <div class="table-responsive">
        <table class="users-table table table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>Dane użytkownika</th>
                    <th>Dane kontaktowe</th>
                    <th>Koordynator</th>
                    <th>Adres</th>
                    <th>Dodatkowe informacje</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="@(item.UserType == UserTypeEnum.Company ? "text-info" : "text-secondary")">
                                @if (item.UserType == UserTypeEnum.Company)
                                {
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                    if (!string.IsNullOrWhiteSpace(item.ContactPersonName))
                                    {
                                        <br />
                                        @Html.DisplayFor(modelItem => item.ContactPersonName)
                                    }
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.IndividualName)
                                }
                            </td>
                            <td>
                                <i class="icon icon-email"></i>
                                @Html.DisplayFor(modelItem => item.Email)
                                <br />
                                <i class="icon icon-phone"></i>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(item.CoordinatorName))
                                {
                                    @Html.DisplayFor(modelItem => item.CoordinatorName)
                                }
                                else
                                {
                                    <strong>INNY</strong><br />
                                    @Html.Raw(item.OtherCoordinatorDetails?.Replace("\n", "<br>"))
                                }
                            </td>
                            <td>
                                @DisplayAddress(item)
                            </td>
                            <td>
                                @Html.Raw(item.AdditionalComment?.Replace("\n", "<br>"))
                            </td>
                            <td>
                                @if (item.ProfileFinishedDate == null)
                                {
                                    <span class="profile-status badge badge-warning" title="Nieukończony - Profil nie został ukończony przez użytkownika">NU</span>
                                }
                                else if (item.ApprovedBy == null)
                                {
                                    <span class="profile-status badge badge-danger" title="Niezweryfikowany - Profil nie został zaakceptowany przez koordynatora">NZ</span>
                                }
                                else
                                {
                                    <span class="profile-status badge badge-success" title="Zweryfikowany - Profil zaakceptowany przez @item.ApprovedBy">ZW</span>
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "UserManagement", new { id = item.Id })"
                                   class="btn btn-sm btn-outline-success">
                                    Szczegóły
                                </a>
                                @*<a href="@Url.Action("Edit", "UserManagement", new { id = item.Id })"
                                       class="btn btn-sm btn-outline-primary">
                                        Edytuj
                                    </a>*@
                                <a href="#"
                                   class="btn btn-sm btn-outline-danger"
                                   data-toggle="modal"
                                   data-target="#modal"
                                   data-title="Usuń użytkownika"
                                   data-form-url="@Url.Action("Delete", "UserManagement", new { id = item.Id })"
                                   data-button-title="Usuń">
                                    Usuń
                                </a>

                                @if (item.ApprovedBy == null)
                                {
                                    if (
                                        (item.CoordinatorId != null && item.CoordinatorId == ViewBag.CurrentUser.Id) ||
                                        (User.IsInRole(Constants.ADMIN_ROLE_NAME))
                                        )
                                    {
                                        <a href="#"
                                           class="btn btn-sm btn-outline-warning"
                                           data-toggle="modal"
                                           data-target="#modal"
                                           data-title="Zweryfikuj użytkownika"
                                           data-form-url="@Url.Action("Approve", "UserManagement", new { id = item.Id })"
                                           data-button-title="Zweryfikuj">
                                            Zweryfikuj
                                        </a>
                                    }
                                }
                                @if (User.IsInRole(Constants.ADMIN_ROLE_NAME))
                                {
                                    if (!item.IsCoordinator)
                                    {
                                        <a href="#"
                                           class="btn btn-sm btn-outline-info"
                                           data-toggle="modal"
                                           data-target="#modal"
                                           data-title="Dodaj koordynatora"
                                           data-form-url="@Url.Action("AddAsCoordinator", "UserManagement", new { id = item.Id })"
                                           data-button-title="Dodaj koordynatora">
                                            Koordynator
                                        </a>
                                    }
                                    if (!item.IsAdmin)
                                    {
                                        <a href="#"
                                           class="btn btn-sm btn-outline-secondary"
                                           data-toggle="modal"
                                           data-target="#modal"
                                           data-title="Dodaj administratora"
                                           data-form-url="@Url.Action("AddAsAdmin", "UserManagement", new { id = item.Id })"
                                           data-button-title="Dodaj administratora">
                                            Administrator
                                        </a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="text-center">
                            <strong>@ViewResources.UsersList__NoData</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@helper DisplayAddress(UserListViewModel item)
{
    var streetPart = $"{item.StreetName} {item.HouseNumber}";
    if (item.FlatNumber != null)
    {
        streetPart += $"/{item.FlatNumber}";
    }
    if (!string.IsNullOrWhiteSpace(streetPart))
    {
        @streetPart
        <br />
    }

    var cityPart = item.PostalCode != null ? $"{item.PostalCode} {item.City}" : item.City;
    @cityPart
}

@Html.Partial("Modals/_Modal")