@using MDMProject.Models;
@using MDMProject.Resources
@using MDMProject.ViewModels;

@model IEnumerable<CoordinatorListViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>@ViewBag.ListTitle</h5>
            </div>
            <div class="card-block">
                @UsersTable()
            </div>
        </div>
    </div>
</div>

@helper UsersTable()
{
    if (TempData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">
            <strong>@ViewResources.Admin_UsersList__Success</strong>
            <p>@TempData["Message"]</p>
        </div>
    }

    if (User.IsInRole(Constants.ADMIN_ROLE_NAME))
    {
        <a href="@Url.Action("CreateCoordinator", "UserManagement")" type="button" class="add-user-btn btn btn-primary">Dodaj</a>
    }
    <div class="table-responsive">
        <table class="coordinators-table table table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>@ViewResources.Admin_UsersList__UserData</th>
                    <th>@ViewResources.Admin_UsersList__UserData</th>
                    <th>@ViewResources.Admin_UsersList__CoordinatedRegion</th>
                    <th>@ViewResources.Admin_UsersList__CoordinatedPersons</th>
                    <th>@ViewResources.Admin_UsersList__AdditionalInfo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="@(item.UserType == UserTypeEnum.Company ? "text-info" : "text-secondary")">
                                @if (item.UserType == UserTypeEnum.Company)
                                {
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                    if (!string.IsNullOrWhiteSpace(item.ContactPersonName))
                                    {
                                        <br />
                                        @Html.DisplayFor(modelItem => item.ContactPersonName)
                                    }
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.IndividualName)
                                }
                            </td>
                            <td>
                                <i class="icon icon-email"></i>
                                @Html.DisplayFor(modelItem => item.Email)
                                <br />
                                <i class="icon icon-phone"></i>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.CoordinatedRegion)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(x => item.CoordinatedPeopleCount)
                            </td>
                            <td>
                                @Html.Raw(item.AdditionalComment?.Replace("\n", "<br>"))
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "UserManagement", new { id = item.Id })"
                                   class="btn btn-sm btn-outline-success">
                                    @ViewResources.Common__Details
                                </a>
                                @if (User.IsInRole(Constants.ADMIN_ROLE_NAME))
                                {
                                    @*<a href="@Url.Action("Edit", "UserManagement", new { id = item.Id })"
                                           class="btn btn-sm btn-outline-primary">
                                            @ViewResources.Common__Edit
                                        </a>*@
                                    <a href="#"
                                       class="btn btn-sm btn-outline-danger"
                                       data-toggle="modal"
                                       data-target="#modal"
                                       data-title="@ViewResources.Admin_UsersList__DeleteUser"
                                       data-form-url="@Url.Action("Delete", "UserManagement", new { id = item.Id })"
                                       data-button-title="@ViewResources.Common__Delete">
                                        @ViewResources.Common__Delete
                                    </a>

                                    <br />
                                    <a href="#"
                                       class="btn btn-sm btn-outline-info"
                                       data-toggle="modal"
                                       data-target="#modal"
                                       data-title="@ViewResources.Admin_UsersList__DeleteFromCoordinators"
                                       data-form-url="@Url.Action("RemoveAsCoordinator", "UserManagement", new { id = item.Id })"
                                       data-button-title="@ViewResources.Admin_UsersList__DeleteFromCoordinators">
                                        @ViewResources.Admin_UsersList__NotCoordinator
                                    </a>
                                    if (!item.IsAdmin)
                                    {
                                        <a href="#"
                                           class="btn btn-sm btn-outline-secondary"
                                           data-toggle="modal"
                                           data-target="#modal"
                                           data-title="@ViewResources.Admin_UsersList__AddAdmin"
                                           data-form-url="@Url.Action("AddAsAdmin", "UserManagement", new { id = item.Id })"
                                           data-button-title="@ViewResources.Admin_UsersList__AddAdmin">
                                            @ViewResources.Admin_UsersList__Admin
                                        </a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="text-center">
                            <strong>@ViewResources.Admin_UsersList__NoData</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@Html.Partial("Modals/_Modal")