@using MDMProject.Resources
@using MDMProject.ViewModels
@model ChangePasswordViewModel
@{
    ViewBag.Title = ViewResources.Account_ChangePassword__Title;
}

<main class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-container">
                    <h1 class="form-header mb-3">@ViewBag.Title</h1>

                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-group", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="input-group mt-1">
                            @Html.LabelFor(m => m.OldPassword)
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control mb-1" })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger " })
                        </div>
                        <div class="input-group mt-1">
                            @Html.LabelFor(m => m.NewPassword)
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control mb-1" })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger " })
                        </div>
                        <div class="input-group mt-1">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control mb-1" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger " })
                        </div>
                        <button type="submit" class="btn form-submit mt-3">@ViewResources.Account_ChangePassword__Save</button>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/scripts/validation")
}
