@using MDMProject.Models
@using MDMProject.Resources
@using MDMProject.ViewModels

@model EditProfileViewModel
@{
    ViewBag.Title = ViewResources.Manage_EditProfile__Title;
}

<main class="edit-profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12">
                <div class="form-container">
                    <h1 class="form-header mb-3">@ViewResources.Manage_EditProfile__EditProfile</h1>
                    @using (Html.BeginForm("EditProfile", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-group", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label>@PropertyNames.EditProfileViewModel_UserType</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(x => x.UserType, UserTypeEnum.Company)
                                        @PropertyNames.EditProfileViewModel_UserType_Company
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(x => x.UserType, UserTypeEnum.Individual)
                                        @PropertyNames.EditProfileViewModel_UserType_IndividualPerson
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mt-1 company-field">
                                    @Html.LabelFor(m => m.CompanyName)
                                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.CompanyName) })
                                    @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger " })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mt-1 company-field">
                                    @Html.LabelFor(m => m.ContactPersonName)
                                    @Html.TextBoxFor(m => m.ContactPersonName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ContactPersonName) })
                                    @Html.ValidationMessageFor(m => m.ContactPersonName, "", new { @class = "text-danger " })
                                </div>
                            </div>
                        </div>

                        <div class="input-group mt-1 individual-field">
                            @Html.LabelFor(m => m.IndividualName)
                            @Html.TextBoxFor(m => m.IndividualName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.IndividualName) })
                            @Html.ValidationMessageFor(m => m.IndividualName, "", new { @class = "text-danger " })
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mt-1">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email), disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger " })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mt-1">
                                    @Html.LabelFor(m => m.PhoneNumber)
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.PhoneNumber) })
                                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger " })
                                </div>
                            </div>
                        </div>

                        <div class="input-group mt-1">
                            @Html.LabelFor(m => m.CoordinatorId)
                            @Html.DropDownListFor(m => m.CoordinatorId, Model.CoordinatorsSelectList, PropertyNames.EditProfileViewModel_CoordinatorId_Placeholder, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CoordinatorId, "", new { @class = "text-danger " })
                        </div>

                        <div class="input-group mt-1">
                            @Html.LabelFor(m => m.OtherCoordinatorDetails)
                            @Html.TextAreaFor(m => m.OtherCoordinatorDetails, new { @class = "form-control mt-1", rows = 3, placeholder = Html.DisplayNameFor(m => m.OtherCoordinatorDetails) })
                            @Html.ValidationMessageFor(m => m.OtherCoordinatorDetails, "", new { @class = "text-danger " })
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mt-1">
                                    @Html.LabelFor(m => m.StreetName)
                                    @Html.TextBoxFor(m => m.StreetName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.StreetName) })
                                    @Html.ValidationMessageFor(m => m.StreetName, "", new { @class = "text-danger " })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group mt-1">
                                    @Html.LabelFor(m => m.HouseNumber)
                                    @Html.TextBoxFor(m => m.HouseNumber, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.HouseNumber) })
                                    @Html.ValidationMessageFor(m => m.HouseNumber, "", new { @class = "text-danger " })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group mt-1">
                                    <label for="FlatNumber">@ViewResources.Manage_EditProfile__Flat</label>
                                    @*@Html.LabelFor(m => m.FlatNumber)*@
                                    @Html.TextBoxFor(m => m.FlatNumber, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.FlatNumber) })
                                    @Html.ValidationMessageFor(m => m.FlatNumber, "", new { @class = "text-danger " })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mt-1">
                                    @Html.LabelFor(m => m.PostalCode)
                                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.PostalCode) })
                                    @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger " })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mt-1">
                                    @Html.LabelFor(m => m.City)
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.City) })
                                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger " })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mt-2 map-container">
                                <div class="input-group">
                                    <label>@ViewResources.Manage_EditProfile__MarkAddressOnMap</label>
                                    @Html.ValidationMessageFor(m => m.Latitude, "", new { @class = "text-danger " })
                                    @Html.HiddenFor(m => m.Latitude)
                                    @Html.HiddenFor(m => m.Longitude)
                                    <div id="profileMap"></div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mt-1">
                            @Html.LabelFor(m => m.AdditionalComment)
                            @Html.TextAreaFor(m => m.AdditionalComment, new { @class = "form-control", rows = 4, placeholder = Html.DisplayNameFor(m => m.AdditionalComment) })
                            @Html.ValidationMessageFor(m => m.AdditionalComment, "", new { @class = "text-danger " })
                        </div>

                        <div class="button-group">
                            <a href="@Url.Action("MapIndex", "Map")" class="btn btn-default mt-3">@ViewResources.Manage_EditProfile__Cancel</a>
                            <button type="submit" class="btn form-submit mt-3">@ViewResources.Manage_EditProfile__Save</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder@latest/dist/Control.Geocoder.css" />
}

@section Scripts {
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder@latest/dist/Control.Geocoder.js"></script>
    @Scripts.Render("~/scripts/validation")
    @Scripts.Render("~/Scripts/custom/profile.js")
    @Scripts.Render("~/Scripts/custom/ProfileMap.js")
}