@using MDMProject.ViewModels
@model EditProfileViewModel
@{
    ViewBag.Title = "Edytuj profil";
}

<main class="edit-profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12">
                <div class="form-container">
                    <h1 class="form-header mb-3">Edytuj profil</h1>
                    @using (Html.BeginForm("EditProfile", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-group", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="input-group mt-1">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Name) })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger " })
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mt-1">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger " })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mt-1">
                                    @Html.LabelFor(m => m.PhoneNumber)
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.PhoneNumber) })
                                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger " })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mt-1">
                                    @Html.LabelFor(m => m.StreetName)
                                    @Html.TextBoxFor(m => m.StreetName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.StreetName) })
                                    @Html.ValidationMessageFor(m => m.StreetName, "", new { @class = "text-danger " })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group mt-1">
                                    @Html.LabelFor(m => m.HouseNumber)
                                    @Html.TextBoxFor(m => m.HouseNumber, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.HouseNumber) })
                                    @Html.ValidationMessageFor(m => m.HouseNumber, "", new { @class = "text-danger " })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group mt-1">
                                    <label for="FlatNumber">Mieszkanie</label>
                                    @*@Html.LabelFor(m => m.FlatNumber)*@
                                    @Html.TextBoxFor(m => m.FlatNumber, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.FlatNumber) })
                                    @Html.ValidationMessageFor(m => m.FlatNumber, "", new { @class = "text-danger " })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mt-1">
                                    @Html.LabelFor(m => m.PostalCode)
                                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.PostalCode) })
                                    @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger " })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mt-1">
                                    @Html.LabelFor(m => m.City)
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.City) })
                                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger " })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mt-2 map-container">
                                <div class="input-group">
                                    <label>Oznacz adres na mapie</label>
                                    @Html.ValidationMessageFor(m => m.Latitude, "", new { @class = "text-danger " })
                                    @Html.HiddenFor(m => m.Latitude)
                                    @Html.HiddenFor(m => m.Longitude)
                                    <div id="profileMap"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mt-1">
                                    <label>Dostarczane produkty:</label>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.HasMaskAvailable)
                                        @Html.LabelFor(m => m.HasMaskAvailable)
                                    </div>

                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.HasAdapterAvailable)
                                        @Html.LabelFor(m => m.HasAdapterAvailable)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mt-1">
                            @Html.LabelFor(m => m.AdditionalComment)
                            <br />
                            @Html.TextAreaFor(m => m.AdditionalComment, new { @class = "form-control mb-1", rows = 4, placeholder = Html.DisplayNameFor(m => m.AdditionalComment) })
                            @Html.ValidationMessageFor(m => m.AdditionalComment, "", new { @class = "text-danger " })
                        </div>

                        <button type="submit" class="btn form-submit mt-3">Zapisz</button>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
    @*<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />*@
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder@latest/dist/Control.Geocoder.css" />

    @Styles.Render("~/Content/Map.css")
}

@section Scripts {
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    @*<script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
        <script src="https://npmcdn.com/leaflet-geometryutil"></script>*@
    <script src="https://unpkg.com/leaflet-control-geocoder@latest/dist/Control.Geocoder.js"></script>
    @Scripts.Render("~/Scripts/custom/ProfileMap.js")
}