@using MDMProject.Resources
@using MDMProject.ViewModels
@model EditProfileViewModel
@{
    ViewBag.Title = ViewResources.Manage_ShowProfile__Title;
}

<main class="edit-profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12">
                <div class="form-container">
                    <h1 class="form-header mb-3">@ViewResources.Manage_ShowProfile__YourProfile</h1>

                    @if (ViewBag.IsSuccess == true)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>@ViewResources.Manage_ShowProfile__Success!</strong>
                            <p>@ViewResources.Manage_ShowProfile__ChangesSavedGoToMap</p>
                            <a href="@Url.Action("MapIndex", "Map")" class="btn btn-primary mt-2">@ViewResources.Manage_ShowProfile__GoToMap</a>
                        </div>
                    }

                    <div class="input-group mt-1">
                        @Html.LabelFor(m => m.Name)
                        <p>@Html.DisplayFor(m => m.Name)</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mt-1">
                                @Html.LabelFor(m => m.Email)
                                <p>@Html.DisplayFor(m => m.Email)</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-1">
                                @Html.LabelFor(m => m.PhoneNumber)
                                <p>@Html.DisplayFor(m => m.PhoneNumber)</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mt-1">
                                @Html.LabelFor(m => m.StreetName)
                                <p>@Html.DisplayFor(m => m.StreetName)</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group mt-1">
                                @Html.LabelFor(m => m.HouseNumber)
                                <p>@Html.DisplayFor(m => m.HouseNumber)</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group mt-1">
                                <label>@ViewResources.Manage_EditProfile__Flat</label>
                                @*@Html.LabelFor(m => m.FlatNumber)*@
                                <p>@Html.DisplayFor(m => m.FlatNumber)</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mt-1">
                                @Html.LabelFor(m => m.PostalCode)
                                <p>@Html.DisplayFor(m => m.PostalCode)</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-1">
                                @Html.LabelFor(m => m.City)
                                <p>@Html.DisplayFor(m => m.City)</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mt-1">
                                <label>@ViewResources.Manage_EditProfile__AvailableProducts:</label>
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.HasMaskAvailable, new { disabled = "disabled" })
                                    @Html.LabelFor(m => m.HasMaskAvailable)
                                </div>

                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.HasAdapterAvailable, new { disabled = "disabled" })
                                    @Html.LabelFor(m => m.HasAdapterAvailable)
                                </div>

                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.HasMaskCollectionPoint, new { disabled = "disabled" })
                                    @Html.LabelFor(m => m.HasMaskCollectionPoint)
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="input-group mt-1">
                            @Html.LabelFor(m => m.AdditionalComment)
                            <br />
                            <p>
                                @Html.Raw(Model.AdditionalComment != null ? Model.AdditionalComment.Replace("\n", "<br>") : "")
                            </p>
                            @Html.ValidationMessageFor(m => m.AdditionalComment, "", new { @class = "text-danger " })
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</main>