@using MDMProject.ViewModels
@model EditProfileViewModel
@{
    ViewBag.Title = "Twój profil";
}

<main class="edit-profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12">
                <div class="form-container">
                    <h1 class="form-header mb-3">Twój profil</h1>

                    @if (ViewBag.IsSuccess)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>Sukces!</strong>
                            <p>Twoje zmiany zostały zapisane. Możesz teraz przejść do mapy.</p>
                            <a href="@Url.Action("MapIndex", "Map")" class="btn btn-primary mt-2">Przejdź do mapy</a>
                        </div>
                    }

                    <div class="input-group mt-1">
                        @Html.LabelFor(m => m.Name)
                        <p>@Html.DisplayFor(m => m.Name)</p>
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger " })
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mt-1">
                                @Html.LabelFor(m => m.Email)
                                <p>@Html.DisplayFor(m => m.Email)</p>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger " })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-1">
                                @Html.LabelFor(m => m.PhoneNumber)
                                <p>@Html.DisplayFor(m => m.PhoneNumber)</p>
                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger " })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mt-1">
                                @Html.LabelFor(m => m.StreetName)
                                <p>@Html.DisplayFor(m => m.StreetName)</p>
                                @Html.ValidationMessageFor(m => m.StreetName, "", new { @class = "text-danger " })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group mt-1">
                                @Html.LabelFor(m => m.HouseNumber)
                                <p>@Html.DisplayFor(m => m.HouseNumber)</p>
                                @Html.ValidationMessageFor(m => m.HouseNumber, "", new { @class = "text-danger " })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group mt-1">
                                <label for="FlatNumber">Mieszkanie</label>
                                @*@Html.LabelFor(m => m.FlatNumber)*@
                                <p>@Html.DisplayFor(m => m.FlatNumber)</p>
                                @Html.ValidationMessageFor(m => m.FlatNumber, "", new { @class = "text-danger " })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mt-1">
                                @Html.LabelFor(m => m.PostalCode)
                                <p>@Html.DisplayFor(m => m.PostalCode)</p>
                                @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger " })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-1">
                                @Html.LabelFor(m => m.City)
                                <p>@Html.DisplayFor(m => m.City)</p>
                                @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger " })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mt-1">
                                <label>Dostarczane produkty:</label>
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.HasMaskAvailable, new { disabled = "disabled" })
                                    @Html.LabelFor(m => m.HasMaskAvailable)
                                </div>

                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.HasAdapterAvailable, new { disabled = "disabled" })
                                    @Html.LabelFor(m => m.HasAdapterAvailable)
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="input-group mt-1">
                        @Html.LabelFor(m => m.AdditionalComment)
                        <br />
                        <p>
                            @Html.Raw(Model.AdditionalComment != null ? Model.AdditionalComment.Replace("\n", "<br>") : "")
                        </p>
                        @Html.ValidationMessageFor(m => m.AdditionalComment, "", new { @class = "text-danger " })
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</main>