@using MDMProject.ViewModels
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Zresetuj hasło";
}

<main class="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-xs-12 form-container">
                <h2>@ViewBag.Title</h2>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        Jeśli zapomniałeś hasła do swojego konta, to wystarczy, że podasz swój email, a my wyślemy Ci kod do zmiany hasła.
                    </p>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Podaj email, aby zresetować hasło" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Wyślij" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/scripts/validation")
}