@using MDMProject.Resources
@using MDMProject.ViewModels
@model ResetPasswordViewModel
@{
    ViewBag.Title = ViewResources.Account_ResetPassword__Title;
}

<main class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-container">
                    <h1 class="form-header mb-3">@ViewBag.Title</h1>

                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-group", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)

                        <div class="input-group mt-1">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control mb-1" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger " })
                        </div>
                        <div class="input-group mt-1">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control mb-1" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger " })
                        </div>
                        <div class="input-group mt-1">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control mb-1" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger " })
                        </div>
                        <button type="submit" class="btn form-submit mt-3">@ViewResources.Account_ResetPassword__Reset</button>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/scripts/validation")
}
