@using MDMProject.Models
@using MDMProject.Resources
@{
    ViewBag.Title = ViewResources.Map_Index__Title;
    if (ViewBag.IsEmbedded == true)
    {
        Layout = "~/Views/Shared/_EmbeddedLayout.cshtml";
    }
}

<main class="ko-map">
    <div class="container-fluid">

        <div class="row">
            <aside class="list-container col-xs-12 col-sm-6 col-md-6 col-lg-5">
                <header class="search-form">
                    <label for="search-form__post-code">@ViewResources.Map_Index__AvailableList:</label>
                    <div class="search-form__input-container">
                        <input name="search-form__post-code" class="form-control" type="text" data-bind="textInput: postCode, event: { keypress: onKeyPress }" placeholder="@ViewResources.Map_Index__PostalCode">
                        <button type="submit" class="btn form-submit" data-bind="click: searchByPostCode">@ViewResources.Map_Index__Search</button>
                        <span class="search-form__validation" data-bind="css: { visible: isPostCodeIncorrect }">@ViewResources.Map_Index__FixPostalCode</span>
                    </div>
                </header>

                <section class="active-item" data-bind="css: { visible: activeItem() != null }, if: activeItem() != null">
                    <!-- ko with: activeItem -->
                    <header>
                        <button type="button" data-bind="click: $root.exitActiveItemDetails">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </button>
                    </header>
                    <div class="active-item__loader" data-bind="css: { visible: details() == null }">@ViewResources.Map_Index__Loading</div>
                    <section class="active-item__data" data-bind="if: details() != null">
                        <!-- ko with: details -->

                        <div class="row">
                            <div>@PropertyNames.User_UserType</div>
                            <div data-bind="text: userType == @((int)UserTypeEnum.Company) ? '@PropertyNames.User_UserType_Company' : '@PropertyNames.User_UserType_IndividualPerson'"></div>
                        </div>

                        <!-- ko if: userType == @((int)UserTypeEnum.Company) -->
                        <div class="row">
                            <div>@PropertyNames.User_CompanyName</div>
                            <div data-bind="text: companyName"></div>
                        </div>

                        <div class="row">
                            <div data-bind="visible: personName != null">@PropertyNames.User_ContactName</div>
                            <div data-bind="text: personName, visible: personName != null"></div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: userType == @((int)UserTypeEnum.Individual) -->
                        <div class="row">
                            <div>@PropertyNames.User_IndividualName</div>
                            <div data-bind="text: personName"></div>
                        </div>
                        <!-- /ko -->

                        <div class="row" data-bind="visible: email != null">
                            <div>@PropertyNames.Common_Email</div>
                            <div>
                                <a data-bind="attr: { href: 'mailto:' + email }, text: email"></a>
                            </div>
                        </div>

                        <div class="row" data-bind="visible: phoneNumber != null">
                            <div>@PropertyNames.User_PhoneNumber</div>
                            <div>
                                <a data-bind="attr: { href: 'tel:' + phoneNumber }, text: phoneNumber"></a>
                            </div>
                        </div>

                        <!-- ko if: address != null -->
                        <div class="row">
                            <div>@PropertyNames.User_Address</div>
                            <div class="active-item__address">
                                <span class="active-item__address_street" data-bind="text: address.streetFormatted"></span>
                                <span class="active-item__address_city" data-bind="text: address.cityFormatted"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                    </section>
                    <!-- /ko -->
                </section>

                <ul data-bind="foreach: visibleItems, css: { hidden: activeItem() != null }">
                    <li class="entry" style="display:none" data-bind="visible: true, click: listItemClick">
                        <div class="entry__summary">
                            <i class="entry__icon"></i>
                            <span class="entry__name" data-bind="text: name"></span>
                            <span class="entry__city" data-bind="text: city"></span>
                            <span class="entry__distance" data-bind="text: distanceToPostCodeFormatted"></span>
                        </div>
                    </li>
                </ul>
            </aside>

            <section class="map-container col-sm-6 col-md-6 col-lg-7">
                <div id="mapID"></div>
            </section>
        </div>

    </div>
</main>

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />

    @Styles.Render("~/Content/KoMap.css")
}

@section Scripts {
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>

    @Scripts.Render("~/Scripts/custom/map.js")
}