@using MDMProject.Models
@using MDMProject.Resources
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin

@{
    var userManager = Request.GetOwinContext().GetUserManager<ApplicationUserManager>();
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        var user = userManager.FindById(User.Identity.GetUserId<int>());

        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    @(user != null && !string.IsNullOrWhiteSpace(user.FullUserName)? user.FullUserName : User.Identity.GetUserName())
                    @DisplayBadgeIfProfileNotActive(user)
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @if (User.IsInRole(MDMProject.Models.Constants.ADMIN_ROLE_NAME) || User.IsInRole(MDMProject.Models.Constants.COORDINATOR_ROLE_NAME))
                    {
                        <li>@Html.ActionLink(ViewResources.LoginPartial__AdminPanel, "Index", "Admin")</li>
                    }
                    <li>
                        <a href="@Url.Action("EditProfile", "Manage")" title="@ViewResources.LoginPartial__EditProfile">
                            <span>@ViewResources.LoginPartial__EditProfile</span> @DisplayBadgeIfProfileNotActive(user)
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><strong>@ViewResources.LoginPartial__Logout</strong></a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (ViewBag.IsRegisterView != true)
        {
            <li>@Html.ActionLink(ViewResources.LoginPartial__Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        }
        <li>@Html.ActionLink(ViewResources.LoginPartial__Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

@helper DisplayBadgeIfProfileNotActive(User user)
{
    if (user != null && !user.IsProfileFinished)
    {
        <span class="badge badge-error" title="@ViewResources.LoginPartial__FinishProfile">!</span>
    }
}