@using MDMProject.Resources
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = ViewResources.Error__Title;
}

<div class="container">
    <h1 class="text-danger">@ViewResources.Error__Error</h1>
    <p class="text-danger mt-1">@ViewResources.Error__ErrorOccuredWhilePerformingRequest</p>
    @if (ViewBag.ErrorId != null)
    {
        <p>
            <strong>@ViewResources.Error__ErrorCode: @ViewBag.ErrorId</strong>
        </p>
    }
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">@ViewResources.Error__BackToHomePage</a>
</div>